# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle snake-camel'
      'command': 'toggle-snake-camel:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Toggle snake-camel'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'toggle-snake-camel:toggle'
        },
        {
          'label': 'Convert to CamelCase'
          'command': 'toggle-snake-camel:convert-to-camel-case'
        },
        {
          'label': 'Convert to snake_case'
          'command': 'toggle-snake-camel:convert-to-snake-case'
        }
      ]
    ]
  }
]
